@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --verde-pretiado: #001524ff;
    --verde-esclareado: #15616dff;
    --creme: #ffecd1ff;
    --laranja: #ff7d00ff;
    --fonte-titulo: "Nerko One", cursive;
    --fonte-texto: "Nunito", sans-serif;
}

body 
{
    background-color: var(--verde-pretiado);
    color: var(--creme);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

h1
{
    font-family: var(--fonte-titulo);
    color: var(--creme);
    font-size: 2em;
}

h3
{
    font-family: var(--fonte-texto);
    color: var(--creme);
    font-size: 2em;
}

.mensagem
{
    font-size: 1.5em;
    color: var(--laranja);
    margin-top: 20px;
    padding: 20px;
    background-color: var(--laranja);
    border-radius: 25px;
}

.box
{
    border: 8px double var(--creme);
    border-radius: 25px;
    display: inline-block;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}